.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 84px; /* trừ chiều cao Navbar */
}

.page-content {
  flex: 1;
  width: 1200px;
  margin-inline: 200px;
  padding: calc(var(--spacing) * 4) /* 1rem = 16px */;
  overflow-y: auto;
}
