.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 84px; /* trừ chiều cao Navbar */
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
