/* Typography System */
.text-caption-2 {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.text-caption-2-strong {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
}
.text-caption-1 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.text-caption-1-strong {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.text-caption-1-stronger {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}
.text-body-1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.text-body-1-strong {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.text-body-1-stronger {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.text-subtitle-2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.text-subtitle-2-stronger {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.text-subtitle-1 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}
.text-title-3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.text-title-2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
.text-title-1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.text-large-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
}
.text-display {
  font-size: 68px;
  line-height: 92px;
  font-weight: 600;
}
